body{
    background-color: rgb(42, 42, 42);
    text-align: center;
    color: rgb(226, 226, 226);
    text-shadow: 0 4px 0 black;
}
#navbar{
    width: auto;
    height: 50px;
    background-color: rgb(49, 49, 49);
    font-size:20px;
    text-align: center;
    z-index: 1;
    
    border: 10px;
    border-color: rgb(38, 42, 40);
}
button{
    width:75px;
    height: 50px;
    background-color: rgb(45, 45, 45);
    border: 0;
    border-radius: 15%;
    color: rgb(211, 211, 211);
    transition: 0.1s ease-in-out;
}
button.navbutton{
    background-color: rgb(45, 45, 45);
    box-shadow: 0 4px 0px rgba(0, 0, 0, 0.2);
}
button.normbutton{
    background-color: rgb(85, 85, 85);
    box-shadow: 0 7.5px 7.5px rgba(0, 0, 0, 0.2);
}
button:hover{
    background-color: rgb(56, 40, 56);
}
button.normbutton:hover{
    background-color: rgb(96, 80, 96);
}
a{
    color: rgb(255, 255, 255);;
}
.infobox{
    width: 75%;
    
    background-color: rgb(46, 46, 46);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    margin: auto;
    margin-top: 25px;
    padding:25px;
}

div.display{
    background-color: rgb(46, 46, 46);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
    width:175px; 
    margin: auto; 
    padding: 10px; 
    text-align:center;
    transition: 0.25s ease-in-out;
}

div.display:hover{
    box-shadow: 0 6px 10px rgba(0,0,0,1);
    background-color: rgb(56, 40, 56);
}